<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <h1>Agregar Nueva Clasificaci贸n</h1>
        <form action="/inv/add-classification" method="POST">
            <!-- Campos para agregar clasificaci贸n -->
            <label for="classification_name">Nombre de la Clasificaci贸n:</label>
            <input type="text" id="classification_name" name="classification_name" required>
            <button type="submit">Agregar Clasificaci贸n</button>
        </form>